{
    "semi": true,
    "singleQuote": true,
    "arrowParens": "always",
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "bracketSpacing": true,
    "quoteProps": "consistent",
    "printWidth": 80
}
